<app-text-field *ngIf="type === 'Text'" [(field)]="field" (fieldChange)="onChange()"></app-text-field>
<app-number-field *ngIf="type === 'Number'" [(field)]="field" (fieldChange)="onChange()"></app-number-field>
<app-dropdown-field *ngIf="type === 'Dropdown'" [(field)]="field" (fieldChange)="onChange()"></app-dropdown-field>
<app-counter-field *ngIf="type === 'Counter'" [(field)]="field" (fieldChange)="onChange()"></app-counter-field>
<app-checkbox-field *ngIf="type === 'Checkbox'" [(field)]="field" (fieldChange)="onChange()"></app-checkbox-field>